___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    # if even both return lesser number
    if (a % 2 == 0) and (b % 2 ==0):
        if a < b:
            return a
        else:
            return b
    # else if either is odd return greater
    else:
        if a > b:
            return a
        else:
            return b

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [5]:
def animal_crackers(text):
    st = text.split()
    if st[0][0] == st[1][0]:
        return True
    else:
        return False

In [6]:
# Check
animal_crackers('Levelheaded Llama')

True

In [7]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [8]:
def makes_twenty(n1,n2):
    if n1+n2 == 20:
        return True
    elif (n1 == 20) or (n2 ==20):
        return True
    else:
        return False

In [9]:
# Check
makes_twenty(20,10)

True

In [10]:
# Check
makes_twenty(2,3)

False

In [11]:
# Check
makes_twenty(2,18)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [1]:
def old_macdonald(name):
    if len(name) > 3:
        first_letter = name[0]
        inbetween = name[1:3]
        fourth_letter = name[3]
        rest = name[4:]
        return first_letter.upper() + inbetween + fourth_letter.upper() + rest
    else:
        return 'Name is too short!'

In [13]:
def old_macdonald(name):
    if len(name) > 3:
        return name[0:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [2]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [15]:
old_macdonald('klucker')

'KluCker'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [21]:
st = "i am home"
stlist  = st.split()
stlist[::-1]

['home', 'am', 'i']

In [25]:
def master_yoda(text):
    yoda = text.split()
    print(" ".join(yoda[::-1]))


    pass

In [27]:
# Check
master_yoda('I am home')

home am I

In [26]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [34]:
def almost_there(n):
    if ((100 - n < 10) and (100 - n > 0)) or ((200 - n < 10) and (100 - n > 0)):
        return True
    elif ((110 - n < 10) and (110 - n > 0)) or ((210 - n < 10) and (210 - n > 0)):
        return True
    else:
        return False

In [35]:
# Check
almost_there(104)

True

In [36]:
# Check
almost_there(150)

False

In [37]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [38]:
def has_33(nums):
    previous = 0
    for num in nums:
        if (num == 3) and (previous == 3):
            return True
        else:
            previous = num
    return False

In [39]:
# Check
has_33([1, 3, 3])

True

In [40]:
# Check
has_33([1, 3, 1, 3])

False

In [41]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [57]:
inp = "this si my blah"
new_inp = ""
for i in inp:
    # print(new_inp + i*3)
    new_inp=(new_inp + i*3)
new_inp
new_inp=""
new_inp

''

In [60]:
def paper_doll(text):
    new_inp = ""
    for i in text:
        # print(new_inp + i*3)
        new_inp=(new_inp + i*3)
    return new_inp

In [61]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [62]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [110]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return "bust"

In [111]:
# Check
blackjack(5,6,7)

18

In [112]:
# Check
blackjack(9,9,9)

'bust'

In [113]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [3]:
def summer_69(arr):
    total = 0
    add = True

    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while add != True: #or "while not add"
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [4]:
# Check
summer_69([1, 3, 5])

9

In [5]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [6]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [16]:
blah=[1,2,3,4,0,0,7,4]
fakecode=[0,0,7]
for i in blah:
    if i == fakecode[0]:
        fakecode.pop(0)

if fakecode == []:
    return True
else:
    return True

IndexError: list index out of range

In [27]:
def spy_game(nums):
    # blah=[1,2,3,4,0,0,7,4]
    fakecode=[0,0,7,'x']
    for i in nums:
        if i == fakecode[0]:
            fakecode.pop(0)
    
    if fakecode == ['x']:
        return True
    else:
        return False

In [28]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [29]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [30]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [33]:
def count_primes(num):
    # check for outlyers
    if num < 2:
        return 0
    # things over 2
    #store primes
    primes = [2]
    #counter
    x = 3
    while x <= num:
        for y in range(3,x,2): #evens will never be prime, so we can step by 2
            if x%y == 0:
                x+=2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return(len(primes))

In [35]:
# Check
count_primes(1000)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

168

In [34]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
#check the next file.  
# break down as possible * pattern lines
# create a map of letter to pattern(s)
#print
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!